.currency-item {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 2%;
    width: 94%;
    padding-left: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.currency {
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 40%;
    margin-left: 0;
    border-radius: 100%;
}

.currency-name {
    margin-left: 0;
}

.values {
    width: 24%;
    display: flex;
    justify-content: space-between;
}